BasedOnStyle: LLVM

AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: None

AlignConsecutiveDeclarations: true
BinPackParameters: false

AlwaysBreakTemplateDeclarations: Yes
BreakInheritanceList: AfterColon
Cpp11BracedListStyle: false
PointerAlignment: Left

UseTab: ForContinuationAndIndentation
IndentWidth: 2
TabWidth: 2

ColumnLimit: 0
SortIncludes: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^"(ast|codegen|parsing|repl)/'
    Priority:        2
  - Regex:           '^(<|"(gtest|wabt|antlr_runtime)/)'
    Priority:        3
  - Regex:           '.*'
    Priority:        1
